In [1]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates
import numpy as np

# Load the Excel file
excel_path = "pizometer_data.xlsx"
sheets = pd.read_excel(excel_path, sheet_name=None)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Process each sheet
for sheet_name, df in sheets.items():
    if 'tarikh' not in df.columns or 'taraz' not in df.columns:
        print(f"⛔ Skipping '{sheet_name}': Missing 'tarikh' or 'taraz'")
        continue

    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()

    # Make sure 'taraz' is numeric
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{sheet_name}' for plotting.")
        continue

    df = df.sort_values('tarikh_miladi')

    x = mdates.date2num(df['tarikh_miladi'])
    y = df['taraz'].values

    # Plot
    plt.figure(figsize=(14, 4))
    plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

    # Fit regression line if data is not constant
    if len(x) >= 2 and np.std(y) > 1e-6:
        try:
            coeffs = np.polyfit(x, y, 1)
            trendline = np.poly1d(coeffs)
            y_trend = trendline(x)
            plt.plot(df['tarikh_miladi'], y_trend, color='red', linestyle='--', label='Trendline')
        except np.linalg.LinAlgError:
            print(f"⚠️ Trendline failed for '{sheet_name}' (SVD issue)")

    plt.xlabel('Gregorian Date')
    plt.ylabel('Taraz (m)')
    plt.title("Piezometer Observation")
    plt.legend()
    plt.grid(True)

    # Save plot
    plt.savefig(f"plots/{sheet_name}.png", bbox_inches='tight', dpi=300)
    plt.close()

    # Save cleaned DataFrame back into dictionary if needed later
    sheets[sheet_name] = df

print("✅ All plots saved successfully in 'plots/' folder.")

✅ All plots saved successfully in 'plots/' folder.

In [3]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates
import numpy as np

# Load only the target sheet
excel_path = "pizometer_data.xlsx"
target_sheet = "جمع آب"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Validate required columns
if 'tarikh' not in df.columns or 'taraz' not in df.columns:
    print(f"⛔ Skipping: Missing 'tarikh' or 'taraz' in sheet '{target_sheet}'")
else:
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()

    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{target_sheet}' for plotting.")
    else:
        df = df.sort_values('tarikh_miladi')
        x = mdates.date2num(df['tarikh_miladi'])
        y = df['taraz'].values

        # Plot
        plt.figure(figsize=(14, 4))
        plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

        # Add trendline if data is valid
        if np.std(y) > 1e-6:
            try:
                coeffs = np.polyfit(x, y, 1)
                slope_per_day = coeffs[0]
                slope_per_year = slope_per_day * 365.25
                trendline = np.poly1d(coeffs)
                y_trend = trendline(x)
                plt.plot(df['tarikh_miladi'], y_trend, color='red', linestyle='--',
                         label=f'Trendline (annual rate: {slope_per_year:.2f} m/year)')
            except np.linalg.LinAlgError:
                print(f"⚠️ Trendline failed for '{target_sheet}' (SVD issue)")

        plt.xlabel('Gregorian Date')
        plt.ylabel('Taraz (m)')
        plt.title(f"Piezometer Observation – {target_sheet}")
        plt.legend()
        plt.grid(True)

        # Save plot
        plt.savefig(f"plots/{target_sheet}.png", bbox_inches='tight', dpi=300)
        plt.close()

        print(f"✅ Plot for '{target_sheet}' saved in 'plots/' folder.")

✅ Plot for 'جمع آب' saved in 'plots/' folder.

In [8]:
# ... (previous code remains unchanged until the plotting section)

# Plot
plt.figure(figsize=(14, 4))
plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

# Process each period
for label, start_date, end_date in periods:
    # Filter data for the period
    mask = pd.Series(True, index=df.index)
    if start_date:
        mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
    if end_date:
        mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
    
    df_period = df[mask].copy()
    
    if len(df_period) >= 2:
        x = mdates.date2num(df_period['tarikh_miladi'])
        y = df_period['taraz'].values

        # Calculate trendline if data is valid
        if np.std(y) > 1e-6:
            try:
                coeffs = np.polyfit(x, y, 1)
                slope_per_day = coeffs[0]
                slope_per_year = slope_per_day * 365.25
                trendline = np.poly1d(coeffs)
                y_trend = trendline(x)
                plt.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                        linewidth=2.5,  # Increased trendline width
                        label=f'{label} (annual rate: {slope_per_year:.2f} m/year)')
            except np.linalg.LinAlgError:
                print(f"⚠️ Trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
        else:
            print(f"⚠️ Not enough variation in '{label}' for trendline.")
    else:
        print(f"⚠️ Not enough data in '{label}' for trendline.")

plt.xlabel('Gregorian Date')
plt.ylabel('Taraz (m)')
plt.title(f"Piezometer Observation – {target_sheet}")
plt.legend()
plt.grid(True)

# Save plot
plt.savefig(f"plots/{target_sheet}_segmented_trend.png", bbox_inches='tight', dpi=300)
plt.close()

print(f"✅ Plot with segmented trendlines for '{target_sheet}' saved in 'plots/' folder.")

✅ Plot with segmented trendlines for 'جمع آب' saved in 'plots/' folder.

In [6]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os

# Load only the target sheet
excel_path = "pizometer_data.xlsx"
target_sheet = "جمع آب"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Validate required columns
if 'tarikh' not in df.columns or 'taraz' not in df.columns:
    print(f"⛔ Skipping: Missing 'tarikh' or 'taraz' in sheet '{target_sheet}'")
else:
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()

    # Convert tarikh_miladi to pandas Timestamp for consistent comparison
    df['tarikh_miladi'] = pd.to_datetime(df['tarikh_miladi'])
    
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{target_sheet}' for plotting.")
    else:
        df = df.sort_values('tarikh_miladi')

        # Define periods for trendlines
        periods = [
            ('1965 to 1975', None, '1975-12-31'),
            ('1982 to 1997', '1982-01-01', '1997-12-31'),
            ('2003 to 2022', '2003-01-01', None)
        ]

        # Define color dictionary for trendlines
        trendline_colors = {
            '1965 to 1975': 'red',
            '1982 to 1997': 'green',
            '2003 to 2022': 'purple'
        }

        # Plot
        plt.figure(figsize=(14, 4))
        plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

        # Process each period
        for label, start_date, end_date in periods:
            # Filter data for the period
            mask = pd.Series(True, index=df.index)
            if start_date:
                mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
            if end_date:
                mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
            
            df_period = df[mask].copy()
            
            if len(df_period) >= 2:
                x = mdates.date2num(df_period['tarikh_miladi'])
                y = df_period['taraz'].values

                # Get start and end years for the period
                start_year = df_period['tarikh_miladi'].min().year
                end_year = df_period['tarikh_miladi'].max().year

                # Calculate trendline if data is valid
                if np.std(y) > 1e-6:
                    try:
                        coeffs = np.polyfit(x, y, 1)
                        slope_per_day = coeffs[0]
                        slope_per_year = slope_per_day * 365.25
                        trendline = np.poly1d(coeffs)
                        y_trend = trendline(x)
                        plt.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                                linewidth=2.5,
                                color=trendline_colors[label],
                                label=f'{label} ({start_year}-{end_year}, rate: {slope_per_year:.2f} m/year)')
                    except np.linalg.LinAlgError:
                        print(f"⚠️ Trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
                else:
                    print(f"⚠️ Not enough variation in '{label}' for trendline.")
            else:
                print(f"⚠️ Not enough data in '{label}' for trendline.")

        plt.xlabel('Gregorian Date')
        plt.ylabel('Taraz (m)')
        plt.title(f"Piezometer Observation – {target_sheet}")
        plt.legend()
        plt.grid(True)

        # Save plot
        plt.savefig(f"plots/{target_sheet}_segmented_trend.png", bbox_inches='tight', dpi=300)
        plt.close()

        print(f"✅ Plot with segmented trendlines for '{target_sheet}' saved in 'plots/' folder.")

✅ Plot with segmented trendlines for 'جمع آب' saved in 'plots/' folder.

In [15]:
start_year = df['tarikh_miladi'].min().year
end_year = df['tarikh_miladi'].max().year

In [16]:
print(end_year)

2022

In [17]:
ذهاب 2

,سال,ماه,روز,سال_آ,کد_مح,محدود,نام_م,سطح_آ,XUTM,YUTM,علت_ع,تراز__,ملاحظ,تيسن__,تيسن_1,taraz,tarikh,date,subsidence,tarikh_miladi
3,1344,7,9,1344-45,6007,مشهد - چناران,جمع آب,73.64,690870,4054367,0,1203.73,0,35.19,2222.1,1130.09,1344/7/9,2015-04-21,-3.32,1965-10-01
2,1344,8,10,1344-45,6007,مشهد - چناران,جمع آب,73.70,690870,4054367,0,1203.73,0,35.19,2222.1,1130.03,1344/8/10,2015-03-28,-1.49,1965-11-01
1,1344,9,9,1344-45,6007,مشهد - چناران,جمع آب,73.68,690870,4054367,0,1203.73,0,35.19,2222.1,1130.05,1344/9/9,2015-03-04,-0.65,1965-11-30
5,1344,10,6,1344-45,6007,مشهد - چناران,جمع آب,73.62,690870,4054367,0,1203.73,0,35.19,2222.1,1130.11,1344/10/6,2015-07-02,6.80,1965-12-27
4,1344,11,7,1344-45,6007,مشهد - چناران,جمع آب,73.56,690870,4054367,0,1203.73,0,35.19,2222.1,1130.17,1344/11/7,2015-05-15,-1.89,1966-01-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1401,2,15,1400-1,6007,مشهد - چناران,جمع آب,96.34,690870,4054367,0,1203.73,0,35.19,2222.1,1107.39,1401/2/15,NaT,NaN,2022-05-05
500,1401,3,17,1400-1,6007,مشهد - چناران,جمع آب,96.60,690870,4054367,0,1203.73,0,35.19,2222.1,1107.13,1401/3/17,NaT,NaN,2022-06-07
501,1401,4,15,1400-1,6007,مشهد - چناران,جمع آب,96.91,690870,4054367,0,1203.73,0,35.19,2222.1,1106.82,1401/4/15,NaT,NaN,2022-07-06
504,1401,5,11,1400-1,6007,مشهد - چناران,جمع آب,97.40,690870,4054367,0,1203.73,0,35.19,2222.1,1106.33,1401/5/11,NaT,NaN,2022-08-02
502,1401,6,11,1400-1,6007,مشهد - چناران,جمع آب,97.50,690870,4054367,0,1203.73,0,35.19,2222.1,1106.23,1401/6/11,NaT,NaN,2022-09-02

In [22]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os

# Load only the target sheet
excel_path = "pizometer_data.xlsx"
target_sheet = "ذهاب 2"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Validate required columns
if 'tarikh' not in df.columns or 'taraz' not in df.columns:
    print(f"⛔ Skipping: Missing 'tarikh' or 'taraz' in sheet '{target_sheet}'")
else:
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()

    # Convert tarikh_miladi to pandas Timestamp for consistent comparison
    df['tarikh_miladi'] = pd.to_datetime(df['tarikh_miladi'])
    
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{target_sheet}' for plotting.")
    else:
        df = df.sort_values('tarikh_miladi')

        # Define periods for trendlines
        periods = [
            ('1965 to 1975', None, '1975-12-31'),
            ('1982 to 1997', '1982-01-01', '1997-12-31'),
            ('2003 to 2022', '2003-01-01', None)
        ]

        # Define color dictionary for trendlines
        trendline_colors = {
            '1965 to 1975': 'red',
            '1982 to 1997': 'green',
            '2003 to 2022': 'purple'
        }

        # Plot
        plt.figure(figsize=(14, 4))
        plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

        # Process each period
        for label, start_date, end_date in periods:
            # Filter data for the period
            mask = pd.Series(True, index=df.index)
            if start_date:
                mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
            if end_date:
                mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
            
            df_period = df[mask].copy()
            
            if len(df_period) >= 2:
                x = mdates.date2num(df_period['tarikh_miladi'])
                y = df_period['taraz'].values

                # Get start and end years for the period
                start_year = df_period['tarikh_miladi'].min().year
                end_year = df_period['tarikh_miladi'].max().year

                # Calculate trendline if data is valid
                if np.std(y) > 1e-6:
                    try:
                        coeffs = np.polyfit(x, y, 1)
                        slope_per_day = coeffs[0]
                        slope_per_year = slope_per_day * 365.25
                        trendline = np.poly1d(coeffs)
                        y_trend = trendline(x)
                        plt.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                                linewidth=2.5,
                                color=trendline_colors[label],
                                label=f'{label} ({start_year}-{end_year}, rate: {slope_per_year:.2f} m/year)')
                    except np.linalg.LinAlgError:
                        print(f"⚠️ Trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
                else:
                    print(f"⚠️ Not enough variation in '{label}' for trendline.")
            else:
                print(f"⚠️ Not enough data in '{label}' for trendline.")

        plt.xlabel('Gregorian Date')
        plt.ylabel('Taraz (m)')
        plt.title(f"Piezometer Observation – {target_sheet}")
        plt.legend()
        plt.grid(True)

        # Save plot
        plt.savefig(f"plots/{target_sheet}_segmented_trend.png", bbox_inches='tight', dpi=300)
        plt.close()

        print(f"✅ Plot with segmented trendlines for '{target_sheet}' saved in 'plots/' folder.")

⚠️ Not enough data in '1965 to 1975' for trendline.
⚠️ Not enough data in '1982 to 1997' for trendline.
✅ Plot with segmented trendlines for 'ذهاب 2' saved in 'plots/' folder.

In [23]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os

# Load only the target sheet
excel_path = "pizometer_data.xlsx"
target_sheet = "ذهاب 2"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Validate required columns
if 'tarikh' not in df.columns or 'taraz' not in df.columns:
    print(f"⛔ Skipping: Missing 'tarikh' or 'taraz' in sheet '{target_sheet}'")
else:
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()

    # Convert tarikh_miladi to pandas Timestamp for consistent comparison
    df['tarikh_miladi'] = pd.to_datetime(df['tarikh_miladi'])
    
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{target_sheet}' for plotting.")
    else:
        df = df.sort_values('tarikh_miladi')

        # Define periods for trendlines
        periods = [
            ('Main Data (Excluding 2017 to 2020-05)', None, None),  # Full range, will filter out noise
            ('Noise Data (2017 to 2020-05)', '2017-01-01', '2020-05-31')
        ]

        # Define color dictionary for trendlines
        trendline_colors = {
            'Main Data (Excluding 2017 to 2020-05)': 'red',
            'Noise Data (2017 to 2020-05)': 'green'
        }

        # Plot
        plt.figure(figsize=(14, 4))
        plt.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Observations')

        # Process each period
        for label, start_date, end_date in periods:
            # Filter data for the period
            mask = pd.Series(True, index=df.index)
            if label == 'Main Data (Excluding 2017 to 2020-05)':
                # Exclude noisy data between 2017 and 2020-05
                mask &= ~((df['tarikh_miladi'] >= pd.to_datetime('2017-01-01')) & 
                          (df['tarikh_miladi'] <= pd.to_datetime('2020-05-31')))
            else:
                # Include only noisy data for 2017 to 2020-05
                if start_date:
                    mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
                if end_date:
                    mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
            
            df_period = df[mask].copy()
            
            if len(df_period) >= 2:
                x = mdates.date2num(df_period['tarikh_miladi'])
                y = df_period['taraz'].values

                # Get start and end years for the period
                start_year = df_period['tarikh_miladi'].min().year
                end_year = df_period['tarikh_miladi'].max().year

                # Calculate trendline if data is valid
                if np.std(y) > 1e-6:
                    try:
                        coeffs = np.polyfit(x, y, 1)
                        slope_per_day = coeffs[0]
                        slope_per_year = slope_per_day * 365.25
                        trendline = np.poly1d(coeffs)
                        y_trend = trendline(x)
                        plt.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                                linewidth=2.5,
                                color=trendline_colors[label],
                                label=f'{label} ({start_year}-{end_year}, rate: {slope_per_year:.2f} m/year)')
                    except np.linalg.LinAlgError:
                        print(f"⚠️ Trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
                else:
                    print(f"⚠️ Not enough variation in '{label}' for trendline.")
            else:
                print(f"⚠️ Not enough data in '{label}' for trendline.")

        plt.xlabel('Gregorian Date')
        plt.ylabel('Taraz (m)')
        plt.title(f"Piezometer Observation – {target_sheet}")
        plt.legend()
        plt.grid(True)

        # Save plot
        plt.savefig(f"plots/{target_sheet}_segmented_trend.png", bbox_inches='tight', dpi=300)
        plt.close()

        print(f"✅ Plot with segmented trendlines for '{target_sheet}' saved in 'plots/' folder.")

✅ Plot with segmented trendlines for 'ذهاب 2' saved in 'plots/' folder.

In [1]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os

# Load only the target sheet
excel_path = "pizometer_data.xlsx"
target_sheet = "ذهاب 2"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# Validate required columns
required_columns = ['tarikh', 'taraz', 'subsidence']
missing_cols = [col for col in required_columns if col not in df.columns]
if missing_cols:
    print(f"⛔ Skipping: Missing columns {missing_cols} in sheet '{target_sheet}'")
else:
    # Process piezometer data
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz', 'subsidence']).copy()

    # Convert tarikh_miladi to pandas Timestamp
    df['tarikh_miladi'] = pd.to_datetime(df['tarikh_miladi'])
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df['subsidence'] = pd.to_numeric(df['subsidence'], errors='coerce')
    df = df.dropna(subset=['taraz', 'subsidence'])

    if len(df) < 2:
        print(f"⚠️ Not enough data in '{target_sheet}' for plotting.")
    else:
        df = df.sort_values('tarikh_miladi')

        # Create figure and twin axes
        fig, ax1 = plt.subplots(figsize=(14, 4))
        ax2 = ax1.twinx()

        # Plot piezometer data (taraz) on left Y-axis
        ax1.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Piezometer', alpha=1)

        # Plot subsidence data on right Y-axis
        ax2.scatter(df['date'], df['subsidence'], color='indianred', label='Subsidence', alpha=1)

        # Define periods for trendlines (same as original for piezometer)
        periods = [
            ('Piezometer Main (Excl. 2017 to 2020-05)', None, None),
            ('Piezometer Noise (2017 to 2020-05)', '2017-01-01', '2020-05-31')
        ]

        # Trendline colors
        trendline_colors = {
            'Piezometer Main (Excl. 2017 to 2020-05)': 'red',
            'Piezometer Noise (2017 to 2020-05)': 'green',
            'Subsidence': 'black'
        }

        # Process piezometer trendlines
        for label, start_date, end_date in periods:
            mask = pd.Series(True, index=df.index)
            if label == 'Piezometer Main (Excl. 2017 to 2020-05)':
                mask &= ~((df['tarikh_miladi'] >= pd.to_datetime('2017-01-01')) & 
                          (df['tarikh_miladi'] <= pd.to_datetime('2020-05-31')))
            else:
                if start_date:
                    mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
                if end_date:
                    mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
            
            df_period = df[mask].copy()
            
            if len(df_period) >= 2:
                x = mdates.date2num(df_period['tarikh_miladi'])
                y = df_period['taraz'].values

                start_year = df_period['tarikh_miladi'].min().year
                end_year = df_period['tarikh_miladi'].max().year

                if np.std(y) > 1e-6:
                    try:
                        coeffs = np.polyfit(x, y, 1)
                        slope_per_day = coeffs[0]
                        slope_per_year = slope_per_day * 365.25
                        trendline = np.poly1d(coeffs)
                        y_trend = trendline(x)
                        ax1.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                                linewidth=2.5, color=trendline_colors[label],
                                label=f'{label} , rate: {slope_per_year:.2f} m/year)')
                       # label=f'{label} ({start_year}-{end_year}, rate: {slope_per_year:.2f} m/year)')
                    except np.linalg.LinAlgError:
                        print(f"⚠️ Piezometer trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
                else:
                    print(f"⚠️ Not enough variation in '{label}' for piezometer trendline.")
            else:
                print(f"⚠️ Not enough data in '{label}' for piezometer trendline.")

        # Process subsidence trendline (full dataset, inspired by second code)
        x = mdates.date2num(df['date'])
        y = df['subsidence'].values
        if len(x) >= 2 and np.std(y) > 1e-6:
            try:
                coeffs = np.polyfit(x, y, 1)
                slope_per_day = coeffs[0]
                slope_per_year = slope_per_day * 365.25
                trendline = np.poly1d(coeffs)
                y_trend = trendline(x)
                ax2.plot(df['date'], y_trend, linestyle='--', linewidth=2.5,
                         color=trendline_colors['Subsidence'],
                         label=f'Subsidence Trend ({df["date"].min().year}-{df["date"].max().year}, rate: {slope_per_year:.2f} mm/year)')
            except np.linalg.LinAlgError:
                print(f"⚠️ Subsidence trendline failed for '{target_sheet}' (SVD issue)")
        else:
            print(f"⚠️ Not enough data or variation for subsidence trendline in '{target_sheet}'.")

        # Customize axes
       # ax1.set_xlabel('Gregorian Date')
        ax1.set_ylabel('Taraz (m)') #, color='blue')
        ax2.set_ylabel('Subsidence (mm)') #, color='indianred')
        ax1.tick_params(axis='y') #, labelcolor='blue')
        ax2.tick_params(axis='y') #, labelcolor='indianred')

        # Combine legends
        lines1, labels1 = ax1.get_legend_handles_labels()
        lines2, labels2 = ax2.get_legend_handles_labels()
        ax1.legend(lines1 + lines2, labels1 + labels2, loc='best')

        plt.title(f"Piezometer and Subsidence Observations ")
        plt.grid(True)

        # Save plot
        plt.savefig(f"plots/{target_sheet}_dual_axis_trend.png", bbox_inches='tight', dpi=300)
        plt.close()

        print(f"✅ Dual-axis plot with trendlines for '{target_sheet}' saved in 'plots/' folder.")

✅ Dual-axis plot with trendlines for 'ذهاب 2' saved in 'plots/' folder.

In [33]:
##### fine ####

In [10]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os

excel_path = "pizometer_data.xlsx"
target_sheet = "جمع آب"

# Create folder for combined plots
os.makedirs("combined_plots", exist_ok=True)

# Load the sheet
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Convert Shamsi (Jalali) date to Gregorian
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# -------------------------------
# Process Piezometer Data
# -------------------------------
if 'tarikh' not in df.columns or 'taraz' not in df.columns:
    print(f"⛔ Missing 'tarikh' or 'taraz' in sheet '{target_sheet}'")
else:
    df['tarikh_miladi'] = df['tarikh'].apply(shamsi_to_gregorian_safe)
    df = df.dropna(subset=['tarikh_miladi', 'taraz']).copy()
    df['tarikh_miladi'] = pd.to_datetime(df['tarikh_miladi'])
    df['taraz'] = pd.to_numeric(df['taraz'], errors='coerce')
    df = df.dropna(subset=['taraz']).sort_values('tarikh_miladi')

    # Define periods for trendlines
    periods = [
        ('1965 to 1975', None, '1975-12-31'),
        ('1982 to 1997', '1982-01-01', '1997-12-31'),
        ('2003 to 2022', '2003-01-01', None)
    ]
    trendline_colors = {
        '1965 to 1975': 'red',
        '1982 to 1997': 'green',
        '2003 to 2022': 'purple'
    }

    # -------------------------------
    # Process Subsidence Data
    # -------------------------------
    if 'date' not in df.columns or 'subsidence' not in df.columns:
        print(f"⚠️ Missing 'date' or 'subsidence' for subsidence in '{target_sheet}'")
        df_subs = None
    else:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')
        df['subsidence'] = pd.to_numeric(df['subsidence'], errors='coerce')
        df_subs = df.dropna(subset=['date', 'subsidence']).sort_values('date')

    # -------------------------------
    # Plot Combined Figure
    # -------------------------------
    fig, ax1 = plt.subplots(figsize=(14, 4))

    # --- Piezometer left Y-axis ---
    ax1.scatter(df['tarikh_miladi'], df['taraz'], color='blue', label='Piezometer')
   # ax1.set_xlabel('Gregorian Date')
    ax1.set_ylabel('Taraz (m)') #, color='blue')
    ax1.tick_params(axis='y') #, labelcolor='blue')

    # Trendlines for piezometer
    for label, start_date, end_date in periods:
        mask = pd.Series(True, index=df.index)
        if start_date:
            mask &= df['tarikh_miladi'] >= pd.to_datetime(start_date)
        if end_date:
            mask &= df['tarikh_miladi'] <= pd.to_datetime(end_date)
        df_period = df[mask].copy()
        if len(df_period) >= 2 and np.std(df_period['taraz'].values) > 1e-6:
            x = mdates.date2num(df_period['tarikh_miladi'])
            y = df_period['taraz'].values
            coeffs = np.polyfit(x, y, 1)
            slope_per_year = coeffs[0]*365.25
            trendline = np.poly1d(coeffs)
            ax1.plot(df_period['tarikh_miladi'], trendline(x), '--', color=trendline_colors[label],
                     label=f'{label} Trend ({slope_per_year:.2f} m/yr)')

    # --- Subsidence right Y-axis ---
    if df_subs is not None and len(df_subs) >= 2:
        ax2 = ax1.twinx()
        ax2.scatter(df_subs['date'], df_subs['subsidence'], color='indianred', label='Subsidence')
        x_subs = mdates.date2num(df_subs['date'])
        y_subs = df_subs['subsidence'].values
        coeffs_subs = np.polyfit(x_subs, y_subs, 1)
        slope_per_year_subs = coeffs_subs[0]*365.25
        trendline_subs = np.poly1d(coeffs_subs)
        ax2.plot(df_subs['date'], trendline_subs(x_subs), '--', color='black',
                 label=f'Subsidence Trend ({slope_per_year_subs:.2f} mm/yr)')
        ax2.set_ylabel('Subsidence (mm)') #, color='indianred')
        ax2.tick_params(axis='y') #, labelcolor='indianred')

    # --- Legends ---
    handles1, labels1 = ax1.get_legend_handles_labels()
    handles2, labels2 = ax2.get_legend_handles_labels() if df_subs is not None else ([], [])
    ax1.legend(handles1 + handles2, labels1 + labels2, loc='upper left')

    plt.title(f"Piezometer and Subsidence")
    plt.grid(True)
    plt.tight_layout()

    # Save figure
    plt.savefig(f"combined_plots/{target_sheet}_combined.png", bbox_inches='tight', dpi=300)
    plt.close()

    print(f"✅ Combined plot saved in 'combined_plots/' folder.")

✅ Combined plot saved in 'combined_plots/' folder.

In [44]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates
import numpy as np

# Load the Excel file
excel_path = "pizometer_data.xlsx"  # Update with your actual file name
sheets = pd.read_excel(excel_path, sheet_name=None)

output_dir = "subsidence_plots"
os.makedirs(output_dir, exist_ok=True)

# Function to strip whitespace from column names
def clean_columns(df):
    df.columns = df.columns.str.strip()  # Strip leading/trailing whitespace
    return df

# Process each sheet
for sheet_name, df in sheets.items():
    print(f"📄 Processing sheet: {sheet_name}")
    
    # Clean column names
    df = clean_columns(df)

    print(f"Columns: {df.columns}")

    if 'date' not in df.columns or 'subsidence' not in df.columns:
        print(f"⚠️ Skipped '{sheet_name}': Missing required columns.")
        continue

    # Convert date to datetime and check
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print(f"First few date values after conversion: {df['date'].head()}")

    df = df.dropna(subset=['date', 'subsidence'])

    if df.empty:
        print(f"⚠️ Skipped '{sheet_name}': No valid data after cleaning.")
        continue

    print(f"First few rows of cleaned data:\n{df.head()}")

    df = df.sort_values('date')
    x = mdates.date2num(df['date'])
    y = df['subsidence'].astype(float).values

    # Calculate trendline and annual rate
    if len(x) >= 2:
        coeffs = np.polyfit(x, y, 1)
        trendline = np.poly1d(coeffs)
        y_trend = trendline(x)
        # Slope is in mm/day, convert to mm/year
        annual_rate = coeffs[0] * 365.25  # Use 365.25 days/year for accuracy
        annual_rate_str = f"{annual_rate:.2f} mm/year"

    plt.figure(figsize=(14, 4))
    plt.scatter(df['date'], y, color='indianred', label='Subsidence Observations')
    if len(x) >= 2:
        plt.plot(df['date'], y_trend, color='black', linestyle='--', 
                label=f'Trendline (Rate: {annual_rate_str})')

    plt.xlabel('Gregorian Date')
    plt.ylabel('Subsidence (mm)')
    plt.title("InSAR Observation")
    plt.legend()
    # Enhanced grid with visible style
    plt.grid(True, which='both', linestyle='-', linewidth=0.8, color='black', alpha=0.7)

    # Save the plot
    safe_name = sheet_name.strip()  # Ensure sheet name is clean and safe
    plt.savefig(f"{output_dir}/{safe_name}.png", bbox_inches='tight', dpi=300)
    plt.close()

print("✅ Subsidence plots saved in 'subsidence_plots/' folder.")

📄 Processing sheet: بی نام
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود نام_م  سطح_آ    XUTM  \
0  1375    7   29  1375-76   6007  مشهد - چناران        35.69  684800
1  1375    8   29  1375-76   6007  مشهد - چناران        36.31  684800
2  1375    9   20  1375-76   6007  مشهد - چناران        36.36  684800
3  1375   10    3  1375-76   6007  مشهد - چناران        36.55  684800
4  1375   12   20  1375-76   6007  مشهد - چناران        37.33  684800

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1  taraz      tarikh  \
0  4054000      0       0      0       0       0 -35.69   1375/7/29
1  4054000      0       0      0       0       0 -36.31   1375/8/29
2  4054000      0       0      0       0       0 -36.36   1375/9/20
3  4054000      0       0      0       0       0 -36.55   1375/10/3
4  4054000      0       0      0       0       0 -37.33  1375/12/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.55
2 2015-03-28       -1.47
3 2015-04-21       -3.94
4 2015-05-15       -4.96
📄 Processing sheet: کلاته شیخها
Columns: Index(['Unnamed: 0', 'Unnamed: 1', 'سال', 'ماه', 'روز', 'سال آبي', 'کد محدوده',
       'محدوده', 'نام محل', 'سطح آب (m)', 'XUTM', 'YUTM',
       'علت عدم اندازه گيري', 'تراز (m)', 'ملاحظات', 'تيسن (km)', 'tarikh',
       'taraz', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
   Unnamed: 0  Unnamed: 1   سال  ماه  روز  سال آبي  کد محدوده         محدوده  \
0  1359/11/16    13591116  1359   11   16  1359-60       6007  مشهد - چناران
1  1359/12/16    13591216  1359   12   16  1359-60       6007  مشهد - چناران
2   1360/1/27     1360127  1360    1   27  1359-60       6007  مشهد - چناران
3   1360/2/19     1360219  1360    2   19  1359-60       6007  مشهد - چناران
4   1360/3/20     1360320  1360    3   20  1359-60       6007  مشهد - چناران

        نام محل  سطح آب (m)    XUTM     YUTM  علت عدم اندازه گيري  تراز (m)  \
0  كلا ته شيخها       44.15  696419  4052548                  NaN   1171.07
1  كلا ته شيخها       43.65  696419  4052548                  NaN   1171.07
2  كلا ته شيخها       43.25  696419  4052548                  NaN   1171.07
3  كلا ته شيخها       43.45  696419  4052548                  NaN   1171.07
4  كلا ته شيخها       44.20  696419  4052548                  NaN   1171.07

   ملاحظات  تيسن (km)      tarikh    taraz       date  subsidence
0      NaN      28.33  1359/11/16  1126.92 2015-02-20        0.00
1      NaN      28.33  1359/12/16  1127.42 2015-03-04        2.96
2      NaN      28.33   1360/1/27  1127.82 2015-03-28        4.82
3      NaN      28.33   1360/2/19  1127.62 2015-04-21        1.52
4      NaN      28.33   1360/3/20  1126.87 2015-05-15        3.76
📄 Processing sheet: کلاته کریم خان
Columns: Index(['tarikh', 'taraz', 'date', 'subsidence'], dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      tarikh    taraz       date  subsidence
0  1360/1/25  1096.52 2015-02-20        0.00
1  1360/2/16  1096.47 2015-03-04        1.42
2  1360/4/31  1094.07 2015-03-28       -0.02
3  1360/3/16  1094.52 2015-04-21       -5.31
4  1360/6/21  1093.77 2015-05-15       -3.38
📄 Processing sheet: عبدل آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود      نام_م  سطح_آ    XUTM  \
0  1345    1   27  1344-45   6007  مشهد - چناران  عبدل آباد  59.05  703410
1  1344    9   24  1344-45   6007  مشهد - چناران  عبدل آباد  59.09  703410
2  1344   12    9  1344-45   6007  مشهد - چناران  عبدل آباد  59.01  703410
3  1344   11    9  1344-45   6007  مشهد - چناران  عبدل آباد  58.95  703410
4  1344   10   15  1344-45   6007  مشهد - چناران  عبدل آباد  59.00  703410

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4045780      0  1158.5      0   27.69  2222.1  1099.45   1345/1/27
1  4045780      0  1158.5      0   27.69  2222.1  1099.41   1344/9/24
2  4045780      0  1158.5      0   27.69  2222.1  1099.49   1344/12/9
3  4045780      0  1158.5      0   27.69  2222.1  1099.55   1344/11/9
4  4045780      0  1158.5      0   27.69  2222.1  1099.50  1344/10/15

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.53
2 2015-03-28       -0.31
3 2015-04-21       -2.67
4 2015-05-15       -3.68
📄 Processing sheet: سنگ سفید
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود     نام_م   سطح_آ  \
0  1364.0  1.0  28.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  108.15
1  1364.0  2.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  107.85
2  1364.0  3.0  21.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.60
3  1364.0  4.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.75
4  1364.0  5.0  26.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  110.00

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1154.76
1  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1155.06
2  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.31
3  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.16
4  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1152.91

      tarikh       date  subsidence
0  1364/1/28 2015-02-20        0.00
1  1364/2/20 2015-03-04       -1.77
2  1364/3/21 2015-03-28       -0.02
3  1364/4/20 2015-04-21        3.45
4  1364/5/26 2015-05-15        1.91
📄 Processing sheet: ذهاب 1
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود  نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  ذهاب1  25.23  696433
1  1367    3   25  1366-67   6007  مشهد - چناران  ذهاب1  25.41  696433
2  1367    4   14  1366-67   6007  مشهد - چناران  ذهاب1  25.75  696433
3  1367    5   24  1366-67   6007  مشهد - چناران  ذهاب1  26.50  696433
4  1367    6   22  1366-67   6007  مشهد - چناران  ذهاب1  26.60  696433

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4056592      0  1149.51      0   24.28  2222.1  1124.28  1367/2/28
1  4056592      0  1149.51      0   24.28  2222.1  1124.10  1367/3/25
2  4056592      0  1149.51      0   24.28  2222.1  1123.76  1367/4/14
3  4056592      0  1149.51      0   24.28  2222.1  1123.01  1367/5/24
4  4056592      0  1149.51      0   24.28  2222.1  1122.91  1367/6/22

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -3.30
2 2015-03-28       -4.74
3 2015-04-21      -14.58
4 2015-05-15      -19.42
📄 Processing sheet: ذهاب 2
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال   ماه   روز    سال_آ   کد_مح          محدود   نام_م  سطح_آ  \
0  1389.0   9.0  27.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  13.49
1  1389.0  11.0  11.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  17.79
2  1389.0   8.0   8.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  11.92
3  1389.0  10.0  13.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  16.33
4  1389.0   7.0  14.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  14.79

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1135.15
1  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1130.85
2  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1136.72
3  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1132.31
4  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1133.85

       tarikh       date  subsidence
0   1389/9/27 2015-02-20        0.00
1  1389/11/11 2015-03-04       -3.31
2    1389/8/8 2015-03-28       -4.43
3  1389/10/13 2015-04-21      -16.00
4   1389/7/14 2015-05-15      -24.97
📄 Processing sheet: درنگون
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  درنگون   1.62  701847
1  1367    3   25  1366-67   6007  مشهد - چناران  درنگون   2.81  701847
2  1367    4   14  1366-67   6007  مشهد - چناران  درنگون   2.98  701847
3  1367    5   24  1366-67   6007  مشهد - چناران  درنگون   3.42  701847
4  1367    6   21  1366-67   6007  مشهد - چناران  درنگون   3.40  701847

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4055553      0  1089.86      0   26.63  2222.1  1088.24  1367/2/28
1  4055553      0  1089.86      0   26.63  2222.1  1087.05  1367/3/25
2  4055553      0  1089.86      0   26.63  2222.1  1086.88  1367/4/14
3  4055553      0  1089.86      0   26.63  2222.1  1086.44  1367/5/24
4  4055553      0  1089.86      0   26.63  2222.1  1086.46  1367/6/21

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04        0.35
2 2015-03-28        0.73
3 2015-04-21        2.09
4 2015-05-15        1.10
📄 Processing sheet: خرم آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود     نام_م  سطح_آ    XUTM  \
0  1364    2   19  1363-64   6007  مشهد - چناران  خرم آباد  37.10  685188
1  1364    1   26  1363-64   6007  مشهد - چناران  خرم آباد  37.40  685188
2  1364    3   19  1363-64   6007  مشهد - چناران  خرم آباد  37.15  685188
3  1364    4   21  1363-64   6007  مشهد - چناران  خرم آباد  37.50  685188
4  1364    5   27  1363-64   6007  مشهد - چناران  خرم آباد  38.10  685188

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4054079      0  1215.51      0   32.04  2222.1  1178.41  1364/2/19
1  4054079      0  1215.51      0   32.04  2222.1  1178.11  1364/1/26
2  4054079      0  1215.51      0   32.04  2222.1  1178.36  1364/3/19
3  4054079      0  1215.51      0   32.04  2222.1  1178.01  1364/4/21
4  4054079      0  1215.51      0   32.04  2222.1  1177.41  1364/5/27

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.70
2 2015-03-28       -1.77
3 2015-04-21       -2.89
4 2015-05-15       -4.86
📄 Processing sheet: جمع آب
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1344   12   16  1344-45   6007  مشهد - چناران  جمع آب  73.46  690870
1  1344    9    9  1344-45   6007  مشهد - چناران  جمع آب  73.68  690870
2  1344    8   10  1344-45   6007  مشهد - چناران  جمع آب  73.70  690870
3  1344    7    9  1344-45   6007  مشهد - چناران  جمع آب  73.64  690870
4  1344   11    7  1344-45   6007  مشهد - چناران  جمع آب  73.56  690870

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4054367      0  1203.73      0   35.19  2222.1  1130.27  1344/12/16
1  4054367      0  1203.73      0   35.19  2222.1  1130.05    1344/9/9
2  4054367      0  1203.73      0   35.19  2222.1  1130.03   1344/8/10
3  4054367      0  1203.73      0   35.19  2222.1  1130.09    1344/7/9
4  4054367      0  1203.73      0   35.19  2222.1  1130.17   1344/11/7

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -0.65
2 2015-03-28       -1.49
3 2015-04-21       -3.32
4 2015-05-15       -1.89
📄 Processing sheet: آبقد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود نام_م   سطح_آ      XUTM  \
0  1375.0  7.0  28.0  1375-76  6007.0  مشهد - چناران  آبقد  107.72  687000.0
1  1378.0  6.0   7.0  1377-78  6007.0  مشهد - چناران  آبقد   62.45  687000.0
2  1378.0  4.0  28.0  1377-78  6007.0  مشهد - چناران  آبقد   61.11  687000.0
3  1378.0  3.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   60.45  687000.0
4  1378.0  2.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   59.46  687000.0

        YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4048700.0    0.0  1293.27    0.0     0.0     0.0  1185.55  1375/7/28
1  4048700.0    0.0  1293.27    0.0     0.0     0.0  1230.82   1378/6/7
2  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.16  1378/4/28
3  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.82  1378/3/20
4  4048700.0    0.0  1293.27    0.0     0.0     0.0  1233.81  1378/2/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -4.76
2 2015-03-28       -7.68
3 2015-04-21       -3.42
4 2015-05-15       -2.23
✅ Subsidence plots saved in 'subsidence_plots/' folder.

In [45]:

import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates
import numpy as np

# Load the Excel file
excel_path = "pizometer_data.xlsx"  # Update with your actual file name
sheets = pd.read_excel(excel_path, sheet_name=None)

output_dir = "subsidence_plots"
os.makedirs(output_dir, exist_ok=True)

# Function to strip whitespace from column names
def clean_columns(df):
    df.columns = df.columns.str.strip()  # Strip leading/trailing whitespace
    return df

# Process each sheet
for sheet_name, df in sheets.items():
    print(f"📄 Processing sheet: {sheet_name}")
    
    # Clean column names
    df = clean_columns(df)

    print(f"Columns: {df.columns}")

    if 'date' not in df.columns or 'subsidence' not in df.columns:
        print(f"⚠️ Skipped '{sheet_name}': Missing required columns.")
        continue

    # Convert date to datetime and check
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print(f"First few date values after conversion: {df['date'].head()}")

    df = df.dropna(subset=['date', 'subsidence'])

    if df.empty:
        print(f"⚠️ Skipped '{sheet_name}': No valid data after cleaning.")
        continue

    print(f"First few rows of cleaned data:\n{df.head()}")

    df = df.sort_values('date')
    x = mdates.date2num(df['date'])
    y = df['subsidence'].astype(float).values

    if len(x) >= 2:
        coeffs = np.polyfit(x, y, 1)
        trendline = np.poly1d(coeffs)
        y_trend = trendline(x)

    plt.figure(figsize=(14, 4))
    plt.scatter(df['date'], y, color='indianred', label='Subsidence Observations')
    if len(x) >= 2:
        plt.plot(df['date'], y_trend, color='black', linestyle='--', label='Trendline')

    plt.xlabel('Gregorian Date')
    plt.ylabel('Subsidence (mm)')
    plt.title("InSAR observation")
    plt.legend()
    plt.grid(True)

    # Save the plot
    safe_name = sheet_name.strip()  # Ensure sheet name is clean and safe
    plt.savefig(f"{output_dir}/{safe_name}.png", bbox_inches='tight', dpi=300)
    plt.close()

print("✅ Subsidence plots saved in 'subsidence_plots/' folder.")

📄 Processing sheet: بی نام
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود نام_م  سطح_آ    XUTM  \
0  1375    7   29  1375-76   6007  مشهد - چناران        35.69  684800
1  1375    8   29  1375-76   6007  مشهد - چناران        36.31  684800
2  1375    9   20  1375-76   6007  مشهد - چناران        36.36  684800
3  1375   10    3  1375-76   6007  مشهد - چناران        36.55  684800
4  1375   12   20  1375-76   6007  مشهد - چناران        37.33  684800

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1  taraz      tarikh  \
0  4054000      0       0      0       0       0 -35.69   1375/7/29
1  4054000      0       0      0       0       0 -36.31   1375/8/29
2  4054000      0       0      0       0       0 -36.36   1375/9/20
3  4054000      0       0      0       0       0 -36.55   1375/10/3
4  4054000      0       0      0       0       0 -37.33  1375/12/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.55
2 2015-03-28       -1.47
3 2015-04-21       -3.94
4 2015-05-15       -4.96
📄 Processing sheet: کلاته شیخها
Columns: Index(['Unnamed: 0', 'Unnamed: 1', 'سال', 'ماه', 'روز', 'سال آبي', 'کد محدوده',
       'محدوده', 'نام محل', 'سطح آب (m)', 'XUTM', 'YUTM',
       'علت عدم اندازه گيري', 'تراز (m)', 'ملاحظات', 'تيسن (km)', 'tarikh',
       'taraz', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
   Unnamed: 0  Unnamed: 1   سال  ماه  روز  سال آبي  کد محدوده         محدوده  \
0  1359/11/16    13591116  1359   11   16  1359-60       6007  مشهد - چناران
1  1359/12/16    13591216  1359   12   16  1359-60       6007  مشهد - چناران
2   1360/1/27     1360127  1360    1   27  1359-60       6007  مشهد - چناران
3   1360/2/19     1360219  1360    2   19  1359-60       6007  مشهد - چناران
4   1360/3/20     1360320  1360    3   20  1359-60       6007  مشهد - چناران

        نام محل  سطح آب (m)    XUTM     YUTM  علت عدم اندازه گيري  تراز (m)  \
0  كلا ته شيخها       44.15  696419  4052548                  NaN   1171.07
1  كلا ته شيخها       43.65  696419  4052548                  NaN   1171.07
2  كلا ته شيخها       43.25  696419  4052548                  NaN   1171.07
3  كلا ته شيخها       43.45  696419  4052548                  NaN   1171.07
4  كلا ته شيخها       44.20  696419  4052548                  NaN   1171.07

   ملاحظات  تيسن (km)      tarikh    taraz       date  subsidence
0      NaN      28.33  1359/11/16  1126.92 2015-02-20        0.00
1      NaN      28.33  1359/12/16  1127.42 2015-03-04        2.96
2      NaN      28.33   1360/1/27  1127.82 2015-03-28        4.82
3      NaN      28.33   1360/2/19  1127.62 2015-04-21        1.52
4      NaN      28.33   1360/3/20  1126.87 2015-05-15        3.76
📄 Processing sheet: کلاته کریم خان
Columns: Index(['tarikh', 'taraz', 'date', 'subsidence'], dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      tarikh    taraz       date  subsidence
0  1360/1/25  1096.52 2015-02-20        0.00
1  1360/2/16  1096.47 2015-03-04        1.42
2  1360/4/31  1094.07 2015-03-28       -0.02
3  1360/3/16  1094.52 2015-04-21       -5.31
4  1360/6/21  1093.77 2015-05-15       -3.38
📄 Processing sheet: عبدل آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود      نام_م  سطح_آ    XUTM  \
0  1345    1   27  1344-45   6007  مشهد - چناران  عبدل آباد  59.05  703410
1  1344    9   24  1344-45   6007  مشهد - چناران  عبدل آباد  59.09  703410
2  1344   12    9  1344-45   6007  مشهد - چناران  عبدل آباد  59.01  703410
3  1344   11    9  1344-45   6007  مشهد - چناران  عبدل آباد  58.95  703410
4  1344   10   15  1344-45   6007  مشهد - چناران  عبدل آباد  59.00  703410

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4045780      0  1158.5      0   27.69  2222.1  1099.45   1345/1/27
1  4045780      0  1158.5      0   27.69  2222.1  1099.41   1344/9/24
2  4045780      0  1158.5      0   27.69  2222.1  1099.49   1344/12/9
3  4045780      0  1158.5      0   27.69  2222.1  1099.55   1344/11/9
4  4045780      0  1158.5      0   27.69  2222.1  1099.50  1344/10/15

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.53
2 2015-03-28       -0.31
3 2015-04-21       -2.67
4 2015-05-15       -3.68
📄 Processing sheet: سنگ سفید
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود     نام_م   سطح_آ  \
0  1364.0  1.0  28.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  108.15
1  1364.0  2.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  107.85
2  1364.0  3.0  21.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.60
3  1364.0  4.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.75
4  1364.0  5.0  26.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  110.00

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1154.76
1  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1155.06
2  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.31
3  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.16
4  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1152.91

      tarikh       date  subsidence
0  1364/1/28 2015-02-20        0.00
1  1364/2/20 2015-03-04       -1.77
2  1364/3/21 2015-03-28       -0.02
3  1364/4/20 2015-04-21        3.45
4  1364/5/26 2015-05-15        1.91
📄 Processing sheet: ذهاب 1
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود  نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  ذهاب1  25.23  696433
1  1367    3   25  1366-67   6007  مشهد - چناران  ذهاب1  25.41  696433
2  1367    4   14  1366-67   6007  مشهد - چناران  ذهاب1  25.75  696433
3  1367    5   24  1366-67   6007  مشهد - چناران  ذهاب1  26.50  696433
4  1367    6   22  1366-67   6007  مشهد - چناران  ذهاب1  26.60  696433

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4056592      0  1149.51      0   24.28  2222.1  1124.28  1367/2/28
1  4056592      0  1149.51      0   24.28  2222.1  1124.10  1367/3/25
2  4056592      0  1149.51      0   24.28  2222.1  1123.76  1367/4/14
3  4056592      0  1149.51      0   24.28  2222.1  1123.01  1367/5/24
4  4056592      0  1149.51      0   24.28  2222.1  1122.91  1367/6/22

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -3.30
2 2015-03-28       -4.74
3 2015-04-21      -14.58
4 2015-05-15      -19.42
📄 Processing sheet: ذهاب 2
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال   ماه   روز    سال_آ   کد_مح          محدود   نام_م  سطح_آ  \
0  1389.0   9.0  27.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  13.49
1  1389.0  11.0  11.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  17.79
2  1389.0   8.0   8.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  11.92
3  1389.0  10.0  13.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  16.33
4  1389.0   7.0  14.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  14.79

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1135.15
1  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1130.85
2  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1136.72
3  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1132.31
4  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1133.85

       tarikh       date  subsidence
0   1389/9/27 2015-02-20        0.00
1  1389/11/11 2015-03-04       -3.31
2    1389/8/8 2015-03-28       -4.43
3  1389/10/13 2015-04-21      -16.00
4   1389/7/14 2015-05-15      -24.97
📄 Processing sheet: درنگون
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  درنگون   1.62  701847
1  1367    3   25  1366-67   6007  مشهد - چناران  درنگون   2.81  701847
2  1367    4   14  1366-67   6007  مشهد - چناران  درنگون   2.98  701847
3  1367    5   24  1366-67   6007  مشهد - چناران  درنگون   3.42  701847
4  1367    6   21  1366-67   6007  مشهد - چناران  درنگون   3.40  701847

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4055553      0  1089.86      0   26.63  2222.1  1088.24  1367/2/28
1  4055553      0  1089.86      0   26.63  2222.1  1087.05  1367/3/25
2  4055553      0  1089.86      0   26.63  2222.1  1086.88  1367/4/14
3  4055553      0  1089.86      0   26.63  2222.1  1086.44  1367/5/24
4  4055553      0  1089.86      0   26.63  2222.1  1086.46  1367/6/21

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04        0.35
2 2015-03-28        0.73
3 2015-04-21        2.09
4 2015-05-15        1.10
📄 Processing sheet: خرم آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود     نام_م  سطح_آ    XUTM  \
0  1364    2   19  1363-64   6007  مشهد - چناران  خرم آباد  37.10  685188
1  1364    1   26  1363-64   6007  مشهد - چناران  خرم آباد  37.40  685188
2  1364    3   19  1363-64   6007  مشهد - چناران  خرم آباد  37.15  685188
3  1364    4   21  1363-64   6007  مشهد - چناران  خرم آباد  37.50  685188
4  1364    5   27  1363-64   6007  مشهد - چناران  خرم آباد  38.10  685188

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4054079      0  1215.51      0   32.04  2222.1  1178.41  1364/2/19
1  4054079      0  1215.51      0   32.04  2222.1  1178.11  1364/1/26
2  4054079      0  1215.51      0   32.04  2222.1  1178.36  1364/3/19
3  4054079      0  1215.51      0   32.04  2222.1  1178.01  1364/4/21
4  4054079      0  1215.51      0   32.04  2222.1  1177.41  1364/5/27

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.70
2 2015-03-28       -1.77
3 2015-04-21       -2.89
4 2015-05-15       -4.86
📄 Processing sheet: جمع آب
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1344   12   16  1344-45   6007  مشهد - چناران  جمع آب  73.46  690870
1  1344    9    9  1344-45   6007  مشهد - چناران  جمع آب  73.68  690870
2  1344    8   10  1344-45   6007  مشهد - چناران  جمع آب  73.70  690870
3  1344    7    9  1344-45   6007  مشهد - چناران  جمع آب  73.64  690870
4  1344   11    7  1344-45   6007  مشهد - چناران  جمع آب  73.56  690870

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4054367      0  1203.73      0   35.19  2222.1  1130.27  1344/12/16
1  4054367      0  1203.73      0   35.19  2222.1  1130.05    1344/9/9
2  4054367      0  1203.73      0   35.19  2222.1  1130.03   1344/8/10
3  4054367      0  1203.73      0   35.19  2222.1  1130.09    1344/7/9
4  4054367      0  1203.73      0   35.19  2222.1  1130.17   1344/11/7

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -0.65
2 2015-03-28       -1.49
3 2015-04-21       -3.32
4 2015-05-15       -1.89
📄 Processing sheet: آبقد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود نام_م   سطح_آ      XUTM  \
0  1375.0  7.0  28.0  1375-76  6007.0  مشهد - چناران  آبقد  107.72  687000.0
1  1378.0  6.0   7.0  1377-78  6007.0  مشهد - چناران  آبقد   62.45  687000.0
2  1378.0  4.0  28.0  1377-78  6007.0  مشهد - چناران  آبقد   61.11  687000.0
3  1378.0  3.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   60.45  687000.0
4  1378.0  2.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   59.46  687000.0

        YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4048700.0    0.0  1293.27    0.0     0.0     0.0  1185.55  1375/7/28
1  4048700.0    0.0  1293.27    0.0     0.0     0.0  1230.82   1378/6/7
2  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.16  1378/4/28
3  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.82  1378/3/20
4  4048700.0    0.0  1293.27    0.0     0.0     0.0  1233.81  1378/2/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -4.76
2 2015-03-28       -7.68
3 2015-04-21       -3.42
4 2015-05-15       -2.23
✅ Subsidence plots saved in 'subsidence_plots/' folder.

In [18]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import os
  

# ------------------------------
# Load only the target sheet
# ------------------------------
excel_path = "pizometer_data.xlsx"
target_sheet = "ذهاب 2"
df = pd.read_excel(excel_path, sheet_name=target_sheet)

# Create folder for plots
os.makedirs("plots", exist_ok=True)

# ------------------------------
# Convert Shamsi (Jalali) to Gregorian
# ------------------------------
def shamsi_to_gregorian_safe(date_str):
    try:
        year, month, day = map(int, str(date_str).split('/'))
        return jdatetime.date(year, month, day).togregorian()
    except:
        return None

# ------------------------------
# Validate required columns
# ------------------------------
required_columns = ['tarikh', 'taraz', 'subsidence', 'date']
missing_cols = [col for col in required_columns if col not in df.columns]
if missing_cols:
    print(f"⛔ Skipping: Missing columns {missing_cols} in sheet '{target_sheet}'")
else:
    # ------------------------------
    # Prepare DataFrames separately
    # ------------------------------
# ------------------------------

    # Piezometer
    piezo = df[['tarikh', 'taraz']].copy()
    piezo['tarikh_miladi'] = piezo['tarikh'].apply(shamsi_to_gregorian_safe)
    piezo['tarikh_miladi'] = pd.to_datetime(piezo['tarikh_miladi'], errors='coerce')
    piezo['taraz'] = pd.to_numeric(piezo['taraz'], errors='coerce')
    piezo = piezo.dropna(subset=['tarikh_miladi', 'taraz']).sort_values('tarikh_miladi')

    # Subsidence
    subs = df[['date', 'subsidence']].copy()
    subs['date'] = pd.to_datetime(subs['date'], errors='coerce')
    subs['subsidence'] = pd.to_numeric(subs['subsidence'], errors='coerce')
    subs = subs.dropna(subset=['date', 'subsidence']).sort_values('date')

    # ------------------------------
    # Plot setup
    # ------------------------------
    fig, ax1 = plt.subplots(figsize=(14, 4))
    ax2 = ax1.twinx()

    # Scatter plots
    if not piezo.empty:
        ax1.scatter(piezo['tarikh_miladi'], piezo['taraz'], color='blue', label='Piezometer', alpha=1)
    if not subs.empty:
        ax2.scatter(subs['date'], subs['subsidence'], color='indianred', label='Subsidence', alpha=1)

    # ------------------------------
    # Piezometer Trendlines
    # ------------------------------
    periods = [
        ('Piezometer Main (Excl. 2017 to 2020-05)', None, None),
        ('Piezometer Noise (2017 to 2020-05)', '2017-01-01', '2020-05-31')
    ]

    trendline_colors = {
        'Piezometer Main (Excl. 2017 to 2020-05)': 'red',
        'Piezometer Noise (2017 to 2020-05)': 'green',
        'Subsidence': 'black'
    }

    for label, start_date, end_date in periods:
        if piezo.empty:
            continue

        mask = pd.Series(True, index=piezo.index)

        if label == 'Piezometer Main (Excl. 2017 to 2020-05)':
            mask &= ~((piezo['tarikh_miladi'] >= pd.to_datetime('2017-01-01')) &
                      (piezo['tarikh_miladi'] <= pd.to_datetime('2020-05-31')))
        else:
            if start_date:
                mask &= piezo['tarikh_miladi'] >= pd.to_datetime(start_date)
            if end_date:
                mask &= piezo['tarikh_miladi'] <= pd.to_datetime(end_date)

        df_period = piezo[mask].copy()

        if len(df_period) >= 2:
            x = mdates.date2num(df_period['tarikh_miladi'])
            y = df_period['taraz'].values

            if np.std(y) > 1e-6:
                try:
                    coeffs = np.polyfit(x, y, 1)
                    slope_per_day = coeffs[0]
                    slope_per_year = slope_per_day * 365.25
                    trendline = np.poly1d(coeffs)
                    y_trend = trendline(x)
                    ax1.plot(df_period['tarikh_miladi'], y_trend, linestyle='--',
                             linewidth=2.5, color=trendline_colors[label],
                             label=f'{label}, rate: {slope_per_year:.2f} m/year')
                except np.linalg.LinAlgError:
                    print(f"⚠️ Piezometer trendline failed for '{label}' in '{target_sheet}' (SVD issue)")
            else:
                print(f"⚠️ Not enough variation in '{label}' for piezometer trendline.")

    # ------------------------------
    # Subsidence Trendline (Full)
    # ------------------------------
    if len(subs) >= 2:
        x = mdates.date2num(subs['date'])
        y = subs['subsidence'].values

        if np.std(y) > 1e-6:
            try:
                coeffs = np.polyfit(x, y, 1)
                slope_per_day = coeffs[0]
                slope_per_year = slope_per_day * 365.25
                trendline = np.poly1d(coeffs)
                y_trend = trendline(x)
                ax2.plot(subs['date'], y_trend, linestyle='--', linewidth=2.5,
                         color=trendline_colors['Subsidence'],
                         label=f'Subsidence Trend ({subs["date"].min().year}-{subs["date"].max().year}, rate: {slope_per_year:.2f} mm/year)')
            except np.linalg.LinAlgError:
                print(f"⚠️ Subsidence trendline failed for '{target_sheet}' (SVD issue)")
        else:
            print(f"⚠️ Not enough variation for subsidence trendline in '{target_sheet}'.")

    # ------------------------------
    # Final Styling
    # ------------------------------
    ax1.set_ylabel('Taraz (m)')
    ax2.set_ylabel('Subsidence (mm)')
    ax1.tick_params(axis='y')
    ax2.tick_params(axis='y')

    # Combine legends
    lines1, labels1 = ax1.get_legend_handles_labels()
    lines2, labels2 = ax2.get_legend_handles_labels()
    ax1.legend(lines1 + lines2, labels1 + labels2, loc='best')

    plt.title(f"Piezometer and Subsidence Observations")
    plt.grid(True)
# Force x-axis to start from 2015
    max_date = max(
        piezo['tarikh_miladi'].max() if not piezo.empty else pd.to_datetime("2015-01-01"),
        subs['date'].max() if not subs.empty else pd.to_datetime("2015-01-01")
    )
    ax1.set_xlim(left=pd.to_datetime("2015-01-01"), right=max_date)

    # Save
    plt.savefig(f"plots/{target_sheet}_dual_axis_trend.png", bbox_inches='tight', dpi=300)
    plt.close()

    print(f"✅ Dual-axis plot with trendlines for '{target_sheet}' saved in 'plots/' folder.")

✅ Dual-axis plot with trendlines for 'ذهاب 2' saved in 'plots/' folder.

In [7]:
df

,سال,ماه,روز,سال_آ,کد_مح,محدود,نام_م,سطح_آ,XUTM,YUTM,علت_ع,تراز__,ملاحظ,تيسن__,تيسن_1,taraz,tarikh,date,subsidence
0,1389.0,9.0,27.0,1389-90,6007.0,مشهد - چناران,ذهاب 2,13.49,696597.0,4056590.0,0.0,1148.64,0.0,0.0,0.0,1135.15,1389/9/27,2015-02-20,0.00
1,1389.0,11.0,11.0,1389-90,6007.0,مشهد - چناران,ذهاب 2,17.79,696597.0,4056590.0,0.0,1148.64,0.0,0.0,0.0,1130.85,1389/11/11,2015-03-04,-3.31
2,1389.0,8.0,8.0,1389-90,6007.0,مشهد - چناران,ذهاب 2,11.92,696597.0,4056590.0,0.0,1148.64,0.0,0.0,0.0,1136.72,1389/8/8,2015-03-28,-4.43
3,1389.0,10.0,13.0,1389-90,6007.0,مشهد - چناران,ذهاب 2,16.33,696597.0,4056590.0,0.0,1148.64,0.0,0.0,0.0,1132.31,1389/10/13,2015-04-21,-16.00
4,1389.0,7.0,14.0,1389-90,6007.0,مشهد - چناران,ذهاب 2,14.79,696597.0,4056590.0,0.0,1148.64,0.0,0.0,0.0,1133.85,1389/7/14,2015-05-15,-24.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-12-23,-659.53
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-04,-660.71
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-16,-664.04
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-09,-668.50
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-21,-664.01

In [19]:
import pandas as pd
import jdatetime
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates
import numpy as np

# Load the Excel file
excel_path = "pizometer_data.xlsx"  # Update with your actual file name
sheets = pd.read_excel(excel_path, sheet_name=None)

output_dir = "subsidence_plots"
os.makedirs(output_dir, exist_ok=True)

# Function to strip whitespace from column names
def clean_columns(df):
    df.columns = df.columns.str.strip()  # Strip leading/trailing whitespace
    return df

# Process each sheet
for sheet_name, df in sheets.items():
    print(f"📄 Processing sheet: {sheet_name}")
    
    # Clean column names
    df = clean_columns(df)

    print(f"Columns: {df.columns}")

    if 'date' not in df.columns or 'subsidence' not in df.columns:
        print(f"⚠️ Skipped '{sheet_name}': Missing required columns.")
        continue

    # Convert date to datetime and check
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print(f"First few date values after conversion: {df['date'].head()}")

    df = df.dropna(subset=['date', 'subsidence'])

    if df.empty:
        print(f"⚠️ Skipped '{sheet_name}': No valid data after cleaning.")
        continue

    print(f"First few rows of cleaned data:\n{df.head()}")

    df = df.sort_values('date')
    x = mdates.date2num(df['date'])
    y = df['subsidence'].astype(float).values

    # Calculate trendline and annual rate
    if len(x) >= 2:
        coeffs = np.polyfit(x, y, 1)
        trendline = np.poly1d(coeffs)
        y_trend = trendline(x)
        # Slope is in mm/day, convert to mm/year
        annual_rate = coeffs[0] * 365.25  # Use 365.25 days/year for accuracy
        annual_rate_str = f"{annual_rate:.0f} mm/year"

    plt.figure(figsize=(14, 4))
    plt.scatter(df['date'], y, color='indianred', label='Subsidence Observations')
    if len(x) >= 2:
        plt.plot(
            df['date'], y_trend, color='black', linestyle='--',
            label=f'Trendline (Rate: {annual_rate_str})'
        )

    plt.ylabel('Subsidence (mm)')
    plt.title("InSAR Observation")
    plt.legend()
    plt.grid(True)
# Force x-axis to start from 2015
    max_date = max(
        piezo['tarikh_miladi'].max() if not piezo.empty else pd.to_datetime("2015-01-01"),
        subs['date'].max() if not subs.empty else pd.to_datetime("2015-01-01")
    )
    ax1.set_xlim(left=pd.to_datetime("2015-01-01"), right=max_date)

    # Save the plot
    safe_name = sheet_name.strip()  # Ensure sheet name is clean and safe
    plt.savefig(f"{output_dir}/{safe_name}.png", bbox_inches='tight', dpi=300)
    plt.close()

print("✅ Subsidence plots saved in 'subsidence_plots/' folder.")

📄 Processing sheet: بی نام
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود نام_م  سطح_آ    XUTM  \
0  1375    7   29  1375-76   6007  مشهد - چناران        35.69  684800
1  1375    8   29  1375-76   6007  مشهد - چناران        36.31  684800
2  1375    9   20  1375-76   6007  مشهد - چناران        36.36  684800
3  1375   10    3  1375-76   6007  مشهد - چناران        36.55  684800
4  1375   12   20  1375-76   6007  مشهد - چناران        37.33  684800

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1  taraz      tarikh  \
0  4054000      0       0      0       0       0 -35.69   1375/7/29
1  4054000      0       0      0       0       0 -36.31   1375/8/29
2  4054000      0       0      0       0       0 -36.36   1375/9/20
3  4054000      0       0      0       0       0 -36.55   1375/10/3
4  4054000      0       0      0       0       0 -37.33  1375/12/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.55
2 2015-03-28       -1.47
3 2015-04-21       -3.94
4 2015-05-15       -4.96
📄 Processing sheet: کلاته شیخها
Columns: Index(['Unnamed: 0', 'Unnamed: 1', 'سال', 'ماه', 'روز', 'سال آبي', 'کد محدوده',
       'محدوده', 'نام محل', 'سطح آب (m)', 'XUTM', 'YUTM',
       'علت عدم اندازه گيري', 'تراز (m)', 'ملاحظات', 'تيسن (km)', 'tarikh',
       'taraz', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
   Unnamed: 0  Unnamed: 1   سال  ماه  روز  سال آبي  کد محدوده         محدوده  \
0  1359/11/16    13591116  1359   11   16  1359-60       6007  مشهد - چناران
1  1359/12/16    13591216  1359   12   16  1359-60       6007  مشهد - چناران
2   1360/1/27     1360127  1360    1   27  1359-60       6007  مشهد - چناران
3   1360/2/19     1360219  1360    2   19  1359-60       6007  مشهد - چناران
4   1360/3/20     1360320  1360    3   20  1359-60       6007  مشهد - چناران

        نام محل  سطح آب (m)    XUTM     YUTM  علت عدم اندازه گيري  تراز (m)  \
0  كلا ته شيخها       44.15  696419  4052548                  NaN   1171.07
1  كلا ته شيخها       43.65  696419  4052548                  NaN   1171.07
2  كلا ته شيخها       43.25  696419  4052548                  NaN   1171.07
3  كلا ته شيخها       43.45  696419  4052548                  NaN   1171.07
4  كلا ته شيخها       44.20  696419  4052548                  NaN   1171.07

   ملاحظات  تيسن (km)      tarikh    taraz       date  subsidence
0      NaN      28.33  1359/11/16  1126.92 2015-02-20        0.00
1      NaN      28.33  1359/12/16  1127.42 2015-03-04        2.96
2      NaN      28.33   1360/1/27  1127.82 2015-03-28        4.82
3      NaN      28.33   1360/2/19  1127.62 2015-04-21        1.52
4      NaN      28.33   1360/3/20  1126.87 2015-05-15        3.76
📄 Processing sheet: کلاته کریم خان
Columns: Index(['tarikh', 'taraz', 'date', 'subsidence'], dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      tarikh    taraz       date  subsidence
0  1360/1/25  1096.52 2015-02-20        0.00
1  1360/2/16  1096.47 2015-03-04        1.42
2  1360/4/31  1094.07 2015-03-28       -0.02
3  1360/3/16  1094.52 2015-04-21       -5.31
4  1360/6/21  1093.77 2015-05-15       -3.38
📄 Processing sheet: عبدل آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود      نام_م  سطح_آ    XUTM  \
0  1345    1   27  1344-45   6007  مشهد - چناران  عبدل آباد  59.05  703410
1  1344    9   24  1344-45   6007  مشهد - چناران  عبدل آباد  59.09  703410
2  1344   12    9  1344-45   6007  مشهد - چناران  عبدل آباد  59.01  703410
3  1344   11    9  1344-45   6007  مشهد - چناران  عبدل آباد  58.95  703410
4  1344   10   15  1344-45   6007  مشهد - چناران  عبدل آباد  59.00  703410

      YUTM  علت_ع  تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4045780      0  1158.5      0   27.69  2222.1  1099.45   1345/1/27
1  4045780      0  1158.5      0   27.69  2222.1  1099.41   1344/9/24
2  4045780      0  1158.5      0   27.69  2222.1  1099.49   1344/12/9
3  4045780      0  1158.5      0   27.69  2222.1  1099.55   1344/11/9
4  4045780      0  1158.5      0   27.69  2222.1  1099.50  1344/10/15

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.53
2 2015-03-28       -0.31
3 2015-04-21       -2.67
4 2015-05-15       -3.68
📄 Processing sheet: سنگ سفید
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود     نام_م   سطح_آ  \
0  1364.0  1.0  28.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  108.15
1  1364.0  2.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  107.85
2  1364.0  3.0  21.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.60
3  1364.0  4.0  20.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  109.75
4  1364.0  5.0  26.0  1363-64  6007.0  مشهد - چناران  سنگ سفيد  110.00

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1154.76
1  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1155.06
2  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.31
3  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1153.16
4  697135.0  4044157.0    0.0  1262.91    0.0     0.0     0.0  1152.91

      tarikh       date  subsidence
0  1364/1/28 2015-02-20        0.00
1  1364/2/20 2015-03-04       -1.77
2  1364/3/21 2015-03-28       -0.02
3  1364/4/20 2015-04-21        3.45
4  1364/5/26 2015-05-15        1.91
📄 Processing sheet: ذهاب 1
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود  نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  ذهاب1  25.23  696433
1  1367    3   25  1366-67   6007  مشهد - چناران  ذهاب1  25.41  696433
2  1367    4   14  1366-67   6007  مشهد - چناران  ذهاب1  25.75  696433
3  1367    5   24  1366-67   6007  مشهد - چناران  ذهاب1  26.50  696433
4  1367    6   22  1366-67   6007  مشهد - چناران  ذهاب1  26.60  696433

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4056592      0  1149.51      0   24.28  2222.1  1124.28  1367/2/28
1  4056592      0  1149.51      0   24.28  2222.1  1124.10  1367/3/25
2  4056592      0  1149.51      0   24.28  2222.1  1123.76  1367/4/14
3  4056592      0  1149.51      0   24.28  2222.1  1123.01  1367/5/24
4  4056592      0  1149.51      0   24.28  2222.1  1122.91  1367/6/22

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -3.30
2 2015-03-28       -4.74
3 2015-04-21      -14.58
4 2015-05-15      -19.42
📄 Processing sheet: ذهاب 2
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال   ماه   روز    سال_آ   کد_مح          محدود   نام_م  سطح_آ  \
0  1389.0   9.0  27.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  13.49
1  1389.0  11.0  11.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  17.79
2  1389.0   8.0   8.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  11.92
3  1389.0  10.0  13.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  16.33
4  1389.0   7.0  14.0  1389-90  6007.0  مشهد - چناران  ذهاب 2  14.79

       XUTM       YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz  \
0  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1135.15
1  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1130.85
2  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1136.72
3  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1132.31
4  696597.0  4056590.0    0.0  1148.64    0.0     0.0     0.0  1133.85

       tarikh       date  subsidence
0   1389/9/27 2015-02-20        0.00
1  1389/11/11 2015-03-04       -3.31
2    1389/8/8 2015-03-28       -4.43
3  1389/10/13 2015-04-21      -16.00
4   1389/7/14 2015-05-15      -24.97
📄 Processing sheet: درنگون
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1367    2   28  1366-67   6007  مشهد - چناران  درنگون   1.62  701847
1  1367    3   25  1366-67   6007  مشهد - چناران  درنگون   2.81  701847
2  1367    4   14  1366-67   6007  مشهد - چناران  درنگون   2.98  701847
3  1367    5   24  1366-67   6007  مشهد - چناران  درنگون   3.42  701847
4  1367    6   21  1366-67   6007  مشهد - چناران  درنگون   3.40  701847

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4055553      0  1089.86      0   26.63  2222.1  1088.24  1367/2/28
1  4055553      0  1089.86      0   26.63  2222.1  1087.05  1367/3/25
2  4055553      0  1089.86      0   26.63  2222.1  1086.88  1367/4/14
3  4055553      0  1089.86      0   26.63  2222.1  1086.44  1367/5/24
4  4055553      0  1089.86      0   26.63  2222.1  1086.46  1367/6/21

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04        0.35
2 2015-03-28        0.73
3 2015-04-21        2.09
4 2015-05-15        1.10
📄 Processing sheet: خرم آباد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود     نام_م  سطح_آ    XUTM  \
0  1364    2   19  1363-64   6007  مشهد - چناران  خرم آباد  37.10  685188
1  1364    1   26  1363-64   6007  مشهد - چناران  خرم آباد  37.40  685188
2  1364    3   19  1363-64   6007  مشهد - چناران  خرم آباد  37.15  685188
3  1364    4   21  1363-64   6007  مشهد - چناران  خرم آباد  37.50  685188
4  1364    5   27  1363-64   6007  مشهد - چناران  خرم آباد  38.10  685188

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4054079      0  1215.51      0   32.04  2222.1  1178.41  1364/2/19
1  4054079      0  1215.51      0   32.04  2222.1  1178.11  1364/1/26
2  4054079      0  1215.51      0   32.04  2222.1  1178.36  1364/3/19
3  4054079      0  1215.51      0   32.04  2222.1  1178.01  1364/4/21
4  4054079      0  1215.51      0   32.04  2222.1  1177.41  1364/5/27

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -1.70
2 2015-03-28       -1.77
3 2015-04-21       -2.89
4 2015-05-15       -4.86
📄 Processing sheet: جمع آب
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
    سال  ماه  روز    سال_آ  کد_مح          محدود   نام_م  سطح_آ    XUTM  \
0  1344   12   16  1344-45   6007  مشهد - چناران  جمع آب  73.46  690870
1  1344    9    9  1344-45   6007  مشهد - چناران  جمع آب  73.68  690870
2  1344    8   10  1344-45   6007  مشهد - چناران  جمع آب  73.70  690870
3  1344    7    9  1344-45   6007  مشهد - چناران  جمع آب  73.64  690870
4  1344   11    7  1344-45   6007  مشهد - چناران  جمع آب  73.56  690870

      YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz      tarikh  \
0  4054367      0  1203.73      0   35.19  2222.1  1130.27  1344/12/16
1  4054367      0  1203.73      0   35.19  2222.1  1130.05    1344/9/9
2  4054367      0  1203.73      0   35.19  2222.1  1130.03   1344/8/10
3  4054367      0  1203.73      0   35.19  2222.1  1130.09    1344/7/9
4  4054367      0  1203.73      0   35.19  2222.1  1130.17   1344/11/7

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -0.65
2 2015-03-28       -1.49
3 2015-04-21       -3.32
4 2015-05-15       -1.89
📄 Processing sheet: آبقد
Columns: Index(['سال', 'ماه', 'روز', 'سال_آ', 'کد_مح', 'محدود', 'نام_م', 'سطح_آ',
       'XUTM', 'YUTM', 'علت_ع', 'تراز__', 'ملاحظ', 'تيسن__', 'تيسن_1', 'taraz',
       'tarikh', 'date', 'subsidence'],
      dtype='object')
First few date values after conversion: 0   2015-02-20
1   2015-03-04
2   2015-03-28
3   2015-04-21
4   2015-05-15
Name: date, dtype: datetime64[ns]
First few rows of cleaned data:
      سال  ماه   روز    سال_آ   کد_مح          محدود نام_م   سطح_آ      XUTM  \
0  1375.0  7.0  28.0  1375-76  6007.0  مشهد - چناران  آبقد  107.72  687000.0
1  1378.0  6.0   7.0  1377-78  6007.0  مشهد - چناران  آبقد   62.45  687000.0
2  1378.0  4.0  28.0  1377-78  6007.0  مشهد - چناران  آبقد   61.11  687000.0
3  1378.0  3.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   60.45  687000.0
4  1378.0  2.0  20.0  1377-78  6007.0  مشهد - چناران  آبقد   59.46  687000.0

        YUTM  علت_ع   تراز__  ملاحظ  تيسن__  تيسن_1    taraz     tarikh  \
0  4048700.0    0.0  1293.27    0.0     0.0     0.0  1185.55  1375/7/28
1  4048700.0    0.0  1293.27    0.0     0.0     0.0  1230.82   1378/6/7
2  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.16  1378/4/28
3  4048700.0    0.0  1293.27    0.0     0.0     0.0  1232.82  1378/3/20
4  4048700.0    0.0  1293.27    0.0     0.0     0.0  1233.81  1378/2/20

        date  subsidence
0 2015-02-20        0.00
1 2015-03-04       -4.76
2 2015-03-28       -7.68
3 2015-04-21       -3.42
4 2015-05-15       -2.23
✅ Subsidence plots saved in 'subsidence_plots/' folder.